<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login-createaccount</title>
  <link rel = "stylesheet"
   type = "text/css"
   href = "styles.scss" />
</head>
<body>

<div class name = "userlogin">
  <h1>Login</h1>
  <input type = "textbox" name = "UserName" id = "username">
  <input type = "textbox" name = "Password" id = "password">
</div>

<div class name = "Proflogin">
    <h2>Professor Login</h2>
    <input type = "textbox" name = "UserName" id = "username">
    <input type = "textbox" name = "Password" id = "password">
  </div>
  
  <div class name = "CreateAccount">
      <h3>Create Account</h3>
      <input type = "textbox" name = "UserName" id = "FirstName">
      <input type = "textbox" name = "Password" id = "LastName">
      <input type = "textbox" name = "Password" id = "Email">
      <input type = "textbox" name = "Password" id = "Username">
      <input type = "textbox" name = "Password" id = "Password">
      <input type = "textbox" name = "Password" id = "Verifypass">
  </div>




  

</body>
</html>
